<!-- partial:../../../partials/documentoAlteracoes.html -->
<!-- partial -->
<!-- partial:partials/contrato.html -->
<!-- partial -->
<div class="panel-group" id="accordion">
    <!-- partial:partials/contratoItens.html -->
    <!-- partial -->
    <!-- partial:partials/contratoClausulas.html -->
    <!-- partial -->
    <!-- partial:partials/contratoAnexos.html -->
    <!-- partial -->
    <!-- partial:partials/contratoAditivos.html -->
    <!-- partial -->
    <!-- partial:partials/contratoDetalhes.html -->
    <!-- partial -->
</div>
