<div class="row">
    <div class="col-sm-4">
        <label>Número</label>
        <p>{{documento.contratoNumero || 'Não informado'}}</p>
    </div>
    <div class="col-sm-8">
        <label>Fornecedor</label>
        <p>{{documento.contratoFornecedor | date}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label>Item Medido</label>
        <p>{{documento.contratoItemDescricao || 'Não informado'}}</p>
    </div>
    <div class="col-sm-4">
        <label>Qtde</label>
        <p>{{documento.contratoItemQtde}} {{documento.contratoItemUnMedida}}</p>
    </div>
    <div class="col-sm-4">
        <label>Saldo</label>
        <p>{{documento.contratoItemSaldo}} {{documento.contratoItemUnMedida}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="hidden-xs">
                    <tr>
                        <th>
                            <div class="col-sm-3">Data</div>
                            <div class="col-sm-3">Previsto</div>
                            <div class="col-sm-3">Realizado</div>
                            <div class="col-sm-3">Valor</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="evento in documento.Eventos" ng-if="$index < 2">
                        <td>
                            <div class="col-sm-3">
                                <p><b class="visible-xs-inline">Data: </b> {{evento.eventoDataReal | date}}</p>
                            </div>
                            <div class="col-sm-3">
                                <p><b class="visible-xs-inline">Previsto: </b> {{evento.eventoQtdPrevista | number}}</p>
                            </div>
                            <div class="col-sm-3">
                                <p><b class="visible-xs-inline">Realizado: </b> {{evento.eventoQtdReal | number}}</p>
                            </div>
                            <div class="col-sm-3">
                                <p><b class="visible-xs-inline">Valor: </b> {{evento.eventoValorReal | currency:evento.eventoMoeda}}</p>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="documento.Eventos.length > 2">
                        <td colspan="3">{{documento.Eventos.length - 2}} mais...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
