<!--JSON para comunicação com backend-->
<input name="Params" type="hidden" id="Params" ng-value="vm.Params | json:0">
<input name="Errors" type="hidden" id="Errors" ng-value="vm.Errors | json:0">
<!--Parâmetros enviados pelo ERP-->
<input type="text" ng-show="vm.show" id="nrTrans" name="nrTrans" ng-value="vm.Formulario.nrTrans" placeholder="nrTrans">
<input type="text" ng-show="vm.show" id="nivelEmergencial" name="nivelEmergencial" ng-value="vm.Formulario.nivelEmergencial" placeholder="nivelEmergencial">
<input type="text" ng-show="vm.show" id="codTipoDocto" name="codTipoDocto" ng-value="vm.Formulario.codTipoDocto" placeholder="codTipoDocto">
<input type="text" ng-show="vm.show" id="tipoDocto" name="tipoDocto" ng-value="vm.Formulario.tipoDocto" placeholder="tipoDocto">
<input type="text" ng-show="vm.show" id="codDoctoTemplate" name="codDoctoTemplate" ng-value="vm.Formulario.codDoctoTemplate" placeholder="codDoctoTemplate">
<input type="text" ng-show="vm.show" id="descricao" name="descricao" ng-value="vm.Formulario.descricao" placeholder="descricao">
<input type="text" ng-show="vm.show" id="codEmpresa" name="codEmpresa" ng-value="vm.Formulario.codEmpresa" placeholder="codEmpresa">
<input type="text" ng-show="vm.show" id="empresa" name="empresa" ng-value="vm.Formulario.empresa" placeholder="empresa">
<input type="text" ng-show="vm.show" id="codEstab" name="codEstab" ng-value="vm.Formulario.codEstab" placeholder="codEstab">
<input type="text" ng-show="vm.show" id="estab" name="estab" ng-value="vm.Formulario.estab" placeholder="estab">
<input type="text" ng-show="vm.show" id="valor" name="valor" ng-value="vm.Formulario.valor" placeholder="valor">
<input type="text" ng-show="vm.show" id="codLotacao" name="codLotacao" ng-value="vm.Formulario.codLotacao" placeholder="codLotacao">
<input type="text" ng-show="vm.show" id="codCCusto" name="codCcusto" ng-value="vm.Formulario.codCCusto" placeholder="codCCusto">
<input type="text" ng-show="vm.show" id="codFamilia" name="codFamilia" ng-value="vm.Formulario.codFamilia" placeholder="codFamilia">
<input type="text" ng-show="vm.show" id="codItem" name="codItem" ng-value="vm.Formulario.codItem" placeholder="codItem">
<input type="text" ng-show="vm.show" id="codEspecie" name="codEspecie" ng-value="vm.Formulario.codEspecie" placeholder="codEspecie">
<input type="text" ng-show="vm.show" id="codReferencia" name="codReferencia" ng-value="vm.Formulario.codReferencia" placeholder="codReferencia">
<input type="text" ng-show="vm.show" id="dataRef" name="dataRef" ng-value="vm.Formulario.dataRef" placeholder="dataRef">
<input type="text" ng-show="vm.show" id="labelDataRef" name="labelDataRef" ng-value="vm.Formulario.labelDataRef" placeholder="labelDataRef">
<!--Parâmetros para controle interno-->
<input type="text" ng-show="vm.show" id="currentAprovadorSeq" name="currentAprovadorSeq" ng-value="vm.Formulario.currentAprovadorSeq" placeholder="currentAprovadorSeq">
<input type="text" ng-show="vm.show" id="lastAprovadorSeq" name="lastAprovadorSeq" ng-value="vm.Formulario.lastAprovadorSeq" placeholder="lastAprovadorSeq">
<input type="text" ng-show="vm.show" id="status" name="status" ng-value="vm.Formulario.status" placeholder="status">
<input type="text" ng-show="vm.show" id="integrado" name="integrado" ng-value="vm.Formulario.integrado" placeholder="integrado">
<input type="text" ng-show="vm.show" id="codProcesso" name="codProcesso" ng-value="vm.Formulario.codProcesso" placeholder="codProcesso">
<input type="text" ng-show="vm.show" id="statusIntegracao" name="statusIntegracao" ng-value="vm.Formulario.statusIntegracao" placeholder="statusIntegracao">
<input type="text" ng-show="vm.show" id="notifica" name="notifica" ng-value="vm.Formulario.notifica" placeholder="notifica">
<input type="text" ng-show="vm.show" id="notificaErro" name="notificaErro" ng-value="vm.Formulario.notificaErro" placeholder="notificaErro">
<input type="text" ng-show="vm.show" id="aprovacaoAutomatica" name="aprovacaoAutomatica" ng-value="vm.Formulario.aprovacaoAutomatica" placeholder="aprovacaoAutomatica">
<input type="text" ng-show="vm.show" id="prazo" name="prazo" ng-value="vm.Formulario.prazo" placeholder="prazo">
