<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Lotações</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-offset-1 col-sm-10">
                <table class="table table-condensed table-striped" tablename="lotacoes" noaddbutton="true" nodeletebutton="true">
                    <thead>
                        <tr>
                            <td></td>
                            <th class="col-sm-6">Lotação</th>
                            <th class="col-sm-3">Data Inicial</th>
                            <th class="col-sm-3">Data Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span ng-if="vm.Params.edit" ng-click="vm.removeLotacao($event)" class="fluigicon fluigicon-md fluigicon-trash fs-cursor-pointer"></span>
                            </td>
                            <td ng-child="vm.Formulario.lotacaoLotacao" id="lotacaoLotacao">
                                <input type="text" class="form-control" name="lotacaoLotacao_input" ng-model="vm.Formulario.lotacaoLotacao" ng-child-tags='{"fluig-autocomplete":""}'
                                    values="vm.Lotacoes" display-key="displaykey">
                                <textarea hidden ng-value="vm.Formulario.lotacaoLotacao | json:0" ng-bind="vm.Formulario.lotacaoLotacao | json:0" name="lotacaoLotacao"></textarea>
                                <input type="hidden" name="lotacaoCodigo" ng-value="vm.Formulario.lotacaoLotacao.codigo">
                            </td>
                            <td ng-child="vm.Formulario.lotacaoDataInicial" id="lotacaoDataInicial">
                                <input type="text" class="form-control" name="lotacaoDataInicial_input" ng-model="vm.Formulario.lotacaoDataInicial" ng-child-tags='{"fluig-date-mask":""}'>
                                <input type="hidden" name="lotacaoDataInicial" ng-value="vm.Formulario.lotacaoDataInicial">
                            </td>
                            <td ng-child="vm.Formulario.lotacaoDataFinal" id="lotacaoDataFinal">
                                <input type="text" class="form-control" name="lotacaoDataFinal_input" ng-model="vm.Formulario.lotacaoDataFinal" ng-child-tags='{"fluig-date-mask":""}'>
                                <input type="hidden" name="lotacaoDataFinal" ng-value="vm.Formulario.lotacaoDataFinal">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button ng-if="vm.Params.edit" type="button" class="btn btn-lg btn-default" ng-click="vm.adicionaLotacao()">Incluir Lotação</button>
            </div>
        </div>
    </div>
</div>