<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Código</label>
                <div class="col-sm-3">
                    <input type="text" name="codigo" class="form-control" ng-value="vm.Formulario.codigo" ng-model="vm.Formulario.codigo" ng-change="vm.consultaDuplicado()"
                        ng-readonly="vm.Params.formMode != 'ADD'">

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Descrição</label>
                <div class="col-sm-6">
                    <input type="text" name="descricao" class="form-control" ng-value="vm.Formulario.descricao" ng-model="vm.Formulario.descricao">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tipo</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="tipo" id="tipoP" value="H"> Hierarquia
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="tipo" id="tipoL" value="L"> Lista
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="tipo" id="tipoP" value="P"> Padrão
                    </label>
                     <label class="radio-inline">
                        <input type="radio" name="tipo" id="tipoT" value="T"> Técnica
                    </label>
                     <label class="radio-inline">
                        <input type="radio" name="tipo" id="tipoF" value="F"> Faixa
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mínimo</label>
                <div class="col-sm-2">
                    <input type="text" name="minimo_input" class="form-control" ng-model="vm.Formulario.minimo" fluig-number-mask="0">
                    <input type="hidden" ng-value="vm.Formulario.minimo" name="minimo">
                </div>
            </div>
        </div>
    </div>
</div>