.processado
{
	border-radius: 10px;
}


 a { color:#5bc0de !important; }
 
 .bpm-mobile-trash-column {
     text-align: center;
 }
 
 .bpm-mobile-trash-column img {
     width: 20px;
 }
 
 .ui-datepicker-trigger {
     display: none;
 }