<div ng-app="AdfAdminApp" ng-controller="AdfAdminController as vm" class="fluig-style-guide ng-cloak">

    <head>
        <!-- partial:partials/head.html -->
        <!-- partial -->
    </head>
    <div class="loader" ng-if="!vm.done">
        <div id="pgloading">
            <div class="loadingwrap">
                <ul class="bokeh">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-wrapper" ng-if="vm.done">

        <aside id="sidebar" class="sidebar-left">
            <side-bar></side-bar>
        </aside>

        <div class="pusher main-content" id="main-content">
            <h1 class="activetab-title">{{vm.$route.current.title}}</h1>
            <div data-ng-view="">

            </div>
        </div>

    </div>

</div>
