<div class="row">
    <div class="col-sm-6">
        <label>Requisitante</label>
        <p>{{documento.solicitacaoRequisitante || 'Não informado'}}</p>
    </div>
    <div class="col-sm-6">
        <label>Data</label>
        <p>{{documento.solicitacaoData | date}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="hidden-xs">
                    <tr>
                        <th>
                            <div class="col-sm-6">Item</div>
                            <div class="col-sm-6">Qtde</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in documento.Itens" ng-if="$index < 2">
                        <td>
                            <div class="col-sm-6">
                                <p><b class="visible-xs-inline">Item:</b> {{item.itemDescricao}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p><b class="visible-xs-inline">Qtd:</b> {{item.itemQtd | number}} {{item.itemUnMedida}}</p>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="documento.Itens.length > 2">
                        <td colspan="3">{{documento.Itens.length - 2}} mais...</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
