div.input-group input.form-control{
  border-radius: 4px 0px 0px 4px !important;
}

#table-wrapper-gestor,#table-wrapper-unidade{
  position:relative;
}

#table-scroll-gestor,#table-scroll-unidade{
  height:225px;
  overflow:auto;  
}

.field-error{
  border-color: #aa0505!important;
}

.required{
  color:red;
}

select:invalid {
  color: gray;
}