.input-group { padding-bottom: 5px; }
		table td { border-top: none !important; }
		.input-group-addon { min-width: 150px; text-align: left; }
		.atividade-titulo { cursor:pointer }
		
		.consultaColMd6 {
		  margin-bottom: 5px !important;
		}
		
		.consultaBlockLink {
		  border-radius: 5px !important;
		  background-color: #EEEEEE !important;
		  border: 1px solid #ccc !important;
		  font-size: 16px !important;
		  padding-left: 10px !important;
		  height: 37px !important;
		  margin-bottom: 0px !important;
		  padding-top: 7px !important;
		}
		
		.consultaBlockLink a {
		  color: blue !important;
		  text-decoration: underline !important;
		}
		#histKit {display:none;}
		
		.ui-datepicker-trigger { display: none; }