div.drag_and_drop {
    background: #dcdcdc;
    min-height: 207px;
    border: 10px dotted #ccc;
}
div.drag_and_drop p {
    text-align: center;
}
#zerar_drag_and_drop {
    text-decoration: underline;
    color: #2980b9;
    font-size: 12px;
    cursor: pointer;
}