<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Estabelecimento</label>
                <div class="col-sm-6">
                    <input type="text" name="estabelecimento_input" class="form-control" fluig-autocomplete values="vm.Estabelecimentos" display-key="displaykey" ng-model="vm.Formulario.estabelecimento" ng-change="vm.consultaDuplicado()" ng-disabled="vm.Params.formMode != 'ADD'">
                    <textarea hidden name="estabelecimento" ng-value="vm.Formulario.estabelecimento | json:0" ng-bind="vm.Formulario.estabelecimento | json:0"></textarea>
                    <input name="codEstab" type="hidden" ng-value="vm.Formulario.estabelecimento.codigo">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Lotação</label>
                <div class="col-sm-6">
                    <input type="text" name="lotacao_input" class="form-control" fluig-autocomplete values="vm.Lotacoes" display-key="displaykey" ng-model="vm.Formulario.lotacao" ng-change="vm.consultaDuplicado()" ng-disabled="vm.Params.formMode != 'ADD'">
                    <textarea hidden name="lotacao" ng-value="vm.Formulario.lotacao | json:0" ng-bind="vm.Formulario.lotacao | json:0"></textarea>
                    <input name="codLotacao" type="hidden" ng-value="vm.Formulario.lotacao.codigo">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tipo de Documento</label>
                <div class="col-sm-6">
                    <input type="text" name="tipoDocumento_input" class="form-control" fluig-autocomplete values="vm.TiposDocumento" display-key="displaykey" ng-model="vm.Formulario.tipoDocumento" ng-change="vm.consultaDuplicado()" ng-disabled="vm.Params.formMode != 'ADD'">
                    <textarea hidden name="tipoDocumento" ng-value="vm.Formulario.tipoDocumento | json:0" ng-bind="vm.Formulario.tipoDocumento | json:0"></textarea>
                    <input name="codTipoDocto" type="hidden" ng-value="vm.Formulario.tipoDocumento.codigo">
                </div>
            </div>
        </div>
    </div>
</div>
