*{
    outline: none !important;
}


.message{
    margin-top: 10px;
}
.panel-heading {
    border-color: #58595b !important;
    background-color: #58595b !important;
}
.btn-primary:hover, .active>.btn-primary {
    color:#555 !important;
    background-color: #f0e241 !important;
    border-color: #f0e241 !important;
}
label{
    font-weight: 400 !important;
}
#myTabs li {
    width: calc(99% / 6);
}
#myTabs li a{
    font-size: inherit;
}
#Bonification-type li{
    width: calc(98% / 3);
}
.m-t-10 {
    margin-top:10px;
}
.m-b-10{
    margin-bottom:10px;
}
.m-b-20{
    margin-bottom:20px;
}
.table {
    white-space: nowrap;
}
.btn-execute{
    margin-top: 25px !important;
}
.fluig-style-guide .pagination{
    margin: 0px 0 20px !important;
}
hr{
    float: left;
    width: 100%;
}
#fixed-middle{
    height: 100px;
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top:-50px;
    margin-left:-50px;
    z-index: 100;
}
#mask{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 99;
    background: rgba(0,0,0,0.5);
}
.color-white > *{
    color: white;
}
.tab-panel:not(.active){
    display: none;
}

.table td{
    text-align: center;
}
.select2-container .select2-selection--single{
    height: 33px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 31px !important;
}
span.select2.select2-container.select2-container--default{
    width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 31px !important;
}



table.table-consolided{
    margin-bottom: 20px;
}

table.table-consolided, table.table-consolided tr, table.table-consolided tr th, table.table-consolided tr td {
    border:none; 
    border-collapse: separate;
}

table.table-consolided thead tr th{
    background: transparent;
    color: #58595b;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    border:solid 1px #f0dc50;
    border-radius: 10px;
    text-transform: uppercase;
}

table.table-consolided tr, table.table-consolided tbody tr td{
    text-align: center;
    border: none;
}
table.table-consolided tr.total td:first-child{
    text-align: right;
}

table.table-consolided tbody tr td{
    white-space: nowrap;
    padding: 10px;
}

table.table-consolided tbody tr.total{
    border-radius:10px;
}
table.table-consolided tbody tr.total td{
    color: #58595b;
}
table.table-consolided tbody tr.total td:first-child{
    text-align: right;
}

table.table-consolided tbody tr.total td:not(:first-child){
    background: #f0dc50;
    border-radius:10px;
}



div[id^='BlocoConsolidado_'] h1{
    font-size: 1.5em;
    font-weight: bolder !important;
}

.panel-title > a,
.panel-title > a:hover{
    color: #58595b !important;
    text-decoration: none !important;
}

.panel {
     border-color: transparent !important; 
}


.nav-pills li.col-md-offset-3{
    margin-left: 25% !important;
}


table[id^='tableBruto_'] tbody tr td:before,
table[id^='table1Parc_'] tbody tr td:nth-child(11):before,
table[id^='table1Parc_'] tbody tr td:nth-child(12):before,
table[id^='table1Parc_'] tbody tr td:last-child:before,
table[id^='table1Parc_'] tbody tr.total td:nth-child(2):before,
table[id^='table1Parc_'] tbody tr.total td:last-child:before,
table[id^='table2Parc_'] tbody tr td:nth-child(12):before,
table[id^='table2Parc_'] tbody tr td:nth-child(13):before,
table[id^='table2Parc_'] tbody tr td:nth-child(14):before,
table[id^='table2Parc_'] tbody tr td:nth-child(15):before,
table[id^='table2Parc_'] tbody tr td:last-child:before,
table[id^='table2Parc_'] tbody tr.total td:nth-child(2):before,
table[id^='table2Parc_'] tbody tr.total td:nth-child(3):before,
table[id^='table2Parc_'] tbody tr.total td:nth-child(4):before,
table[id^='table2Parc_'] tbody tr.total td:last-child:before,
table[id^='tableParcU_'] tbody tr td:nth-child(13):before,
table[id^='tableParcU_'] tbody tr td:nth-child(14):before,
table[id^='tableParcU_'] tbody tr td:nth-child(15):before,
table[id^='tableParcU_'] tbody tr td:last-child:before,
table[id^='tableParcU_'] tbody tr.total td:nth-child(2):before,
table[id^='tableParcU_'] tbody tr.total td:nth-child(3):before,
table[id^='tableParcU_'] tbody tr.total td:nth-child(4):before,
table[id^='tableParcU_'] tbody tr.total td:last-child:before,
table[id^='tableDist_'] tbody tr td:last-child:before{
    content: "R$ ";
}

table[id^='tableBruto_'] tbody tr td{
    border:solid 1px;
}


.margin-top-button{
    margin-top: 67px;
}

.buttons-copy, .buttons-csv, .buttons-pdf, .buttons-print{
    display: none !important;
}

.buttons-excel{
    border-radius:4px !important;
}

.icon-circle {
    border-radius: 50%;
    border: solid 1px;
    display: inline-block;
    background: transparent;
    vertical-align: middle;
    padding: 2px 4px;
    font-size: 0.7em;
}

.table. thead{
    text-align: center;
}

input[readonly]{
    border: solid 1px #eee !important;
}
#Tabletotal,
#TableTotalSuper{
    border-radius: 10px 10px 0 0;
    display: contents;
}

.tableComissoesBRZ th, .tableComissoesBRZ td{
    border-collapse: collapse;
    border:1px solid rgb(240, 220, 80);
    padding: 5px !important;
    text-align: center;
}
.tableComissoesBRZ th:first-child{
    border-radius: 10px 0 0 0;
}
.tableComissoesBRZ th:last-child{
    border-radius: 0 10px 0 0;
}

#tableComissoesBRZTotal td:not(:first-child):before,
#TableTotalSuper td:not(:first-child):not(:nth-child(2)):not(:nth-child(4)):not(:nth-child(5)):before{
    content: "R$ ";
}
#Super_filter {
    line-height: 78px;
}
#Super_filter > div > label{
    vertical-align: bottom;
}

.loader-absolute{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  z-index: -1;
}
.loader-absolute.active{
  z-index: 3 !important;
}
.loader-absolute .center {
  line-height: 100%;
  vertical-align: middle;
  color: #f5f5f5;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}
#wcm-content{
    background: white;
}

.mask.active {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10;
}


#uf_footer{
    position: initial !important;
}

input[type='search']{
    line-height: 26px !important;
    border-radius: 4px;
}
h3 {
    color: white !important;
}

.dt-button.buttons-excel{
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    display: inline-block;
}

div.dt-buttons{
    float: left;
}

.pageTitle{
    display: none !important;
}



div[id$='_pag'] .dataTables_paginate .paginate_button.current, div[id$='_pag'] .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}
div[id$='_pag'] .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
a {
    cursor: pointer;
    color: #3174c7;
    text-decoration: none;
}
div[id$='_pag'] .dataTables_length, div[id$='_pag'] .dataTables_filter, div[id$='_pag'] .dataTables_info, div[id$='_pag'] .dataTables_processing, div[id$='_pag'] .dataTables_paginate {
    color: #333;
}
div[id$='_pag'] .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}
ul#Cube-type li {
    width: calc(99% / 3);
}
ul#Cube-type li a {
    font-size: 1em;
}