<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Código</label>
                <div class="col-sm-3">
                    <input type="text" name="codigo" class="form-control" ng-value="vm.Formulario.codigo" ng-model="vm.Formulario.codigo" ng-change="vm.consultaDuplicado()" ng-readonly="vm.Params.formMode != 'ADD'">
                    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Descrição</label>
                <div class="col-sm-6">
                    <input type="text" name="descricao" class="form-control" ng-value="vm.Formulario.descricao" ng-model="vm.Formulario.descricao" >
                </div>
            </div>
        </div>
    </div>
</div>