<html>

<head>
    <title>Fluig</title>
    <link href="${SERVER_URL}/globalmailsender/resources/global.css" type="text/css" rel="stylesheet" />
</head>

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
    <div align="center">
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <img img src="${SERVER_URL}/globalmailsender/resources/head_background.gif">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <center>
        <div style="margin-left: 25px; ">
            <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;"><b>${tipoDocto}</b>
                <br/>
            </span>
            <br/>
            <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">${descricaoEmail}
                <br/>
            </span>
            <br/>
            <table style="border: 0px solid #d5d2ca;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;width: 70%;box-sizing: border-box;">
                <thead>
                    <tr>
                        <th style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 60px;padding: 0.5em;">Descrição</th>
                        <td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 240px;padding: 0.5em;">${descricao}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 60px;padding: 0.5em;">Empresa</th>
                        <td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 240px;padding: 0.5em;">${empresa}</td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 60px;padding: 0.5em;">Estabelecimento</th>
                        <td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 240px;padding: 0.5em;">${estab}</td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 60px;padding: 0.5em;">Valor</th>
                        <td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 240px;padding: 0.5em;">${valor}</td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 60px;padding: 0.5em;">${labelDataRef}</th>
                        <td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 240px;padding: 0.5em;">${dataRef}</td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 60px;padding: 0.5em;">Status</th>
                        <td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 240px;padding: 0.5em;">${status}</td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 60px;padding: 0.5em;">Processo</th>
                        <td style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 240px;padding: 0.5em;">${codProcesso}</td>
                    </tr>
                    <tr>
                        <th colspan="2" style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 300px;padding: 0.5em;">Detalhes</th>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #d5d2ca;background:#f5f5f1;font-size: 14px;text-align: left;vertical-align: text-top;width: 300px;padding: 0.5em;">${detalhes}</th>
                    </tr>

                </tbody>
            </table>
            <br />
        </div>
    </center>
</body>

</html>
