.fluig-style-guide .hidden-element{
    display: none;
}

.fluig-style-guide .fluig-style-guide .form-control .disabled,
.fluig-style-guide .form-control .readonly,
.fluig-style-guide .form-control[disabled],
.fluig-style-guide .form-control[readonly]{
    color: #555 !important;
}

.fluig-style-guide .texto-atencao{
    color: #ff0000;
}

.fluig-style-guide #tbDemaisCompras tbody tr{
    border-bottom: 2px solid #ccc;
}

.fluig-style-guide #tbItensTi tbody tr{
    border-bottom: 2px solid #ccc;
}

.fluig-style-guide #tbContratacaoServicos tbody tr{
    border-bottom: 2px solid #ccc;
}

.fluig-style-guide #sec-footer{
    margin-bottom: 100px;
    font-size: 11px;
}

.fluig-style-guide #sec-footer .col-md-6{
    border-top: 1px solid #ccc;
}
