body{
  font-family: sans-serif;  
}

.imagen{
  /*margin-left: 10px;*/
  margin-top: 15px;
  width: 150px;
  height: 65px;
}

.title{
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  color: #6D9D35 !important;
  font-size: 25px;
 /*color: #356da3 !important;*/
  margin-top: 0 !important;
}
.subTitle{
  text-align: left;
  font-family: "Trebuchet MS", sans-serif;
  color: #ff6800 !important;
  font-size: 25px;
 /*color: #356da3 !important;*/
  margin-top: 0 !important;
}

.none{
  display: none;
}

.devolve{
  display: none;
}
.label {
  /*font-family: "Trebuchet MS", sans-serif;*/
  color: #777 !important;
}

.btn-blue{
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}
.btn-blue:hover{
  color: #fff !important;
  background-color: #286090 !important;
  border-color: #204d74 !important;
}

.btn-green{
  color: #fff !important;
  background-color: #92be59 !important;
  border-color: #80a64e !important;
}
.btn-green:hover{
  color: #fff !important;
  background-color: #80a64e !important;
  border-color: #749647 !important;
}

body > .fluig-style-guide{
  margin-bottom: 190px !important;
  width: 100%;
}

.hrClass{
  border-color: #ff6800 !important;
}
.container{
  z-index: 2;
  background: #F9F9F9;
  padding: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px; 
}
.form-group{            
  margin-left: 10px !important;      
}
.align-middle{
  vertical-align: middle;
}

.hold-title{
  margin-top:50px;
  margin-bottom:20px;
}

.switchBtn{
  color: #fff !important;
  border-color: #2e6da4 !important;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.switch-field {
  font-family: "Trebuchet MS", sans-serif;
  /* padding: 40px; */
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  color: #fff !important;
  background-color: #337ab7 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.color{
  color: #fff !important;
}