.obg{
    color: red;
}
/* ------------------------------------------------------- */
.title{
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    color: #6D9D35 !important;
    font-size: 25px;
    margin-top: 0 !important;
}
.imagen{
    margin-top: 15px;
    width: 150px;
    height: 65px;
}
/* ----------------------------------------------------- */
.hr-green{
    border-color: #6D9D35 !important;
}

.erro{
    border-color: #ff0000 !important;    
}

/* ====================================================== */
/* MODAL */
/* ====================================================== */

#form-edit-modal{
    height: 95% !important;
    width: 100% !important;
}

.modal-dialog{
    width: 98% !important;
    height: 95% !important;
    margin-top: 0px !important;
    margin-left: 15px !important;
}

.modal-content{
    height: 100% !important;
}

.modal-body{		
    height: 75% !important;
}

#visuaAnexo{
    width: 100% !important;
    height: 100% !important;
}
