<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-8 col-print-8">
                <h4>Contrato {{documento.contratoNumero}} - {{documento.contratoDescricao}}</h4>
                <h4>{{documento.contratoEmpresa}} - {{documento.contratoEstab}}</h4>
            </div>
            <div class="col-sm-4 col-print-4">
                <h4> Valor</h4>
                <h4> {{documento.contratoValor | currency:documento.contratoMoeda}}</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8 col-print-8">
                <label> Fornecedor: </label>
                <p>{{documento.contratoFornecedor}}</p>
            </div>
            <div class="col-sm-4 col-print-4">
                <label> Condição de Pagamento: </label>
                <p>{{documento.contratoCondPagto}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label> Natureza: </label>
                <p>{{documento.contratoNatureza}}</p>
            </div>
            <div class="col-sm-4">
                <label> Data do Contrato: </label>
                <p>{{documento.contratoDataContrato | date}}</p>
            </div>
            <div class="col-sm-4">
                <label> Comprador: </label>
                <p>{{documento.contratoComprador}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label> Narrativa: </label>
                <p ng-show="documento.contratoNarrativa">{{documento.contratoNarrativa}}</p>
                <p><i ng-show="!documento.contratoNarrativa">Não informada</i></p>
            </div>
        </div>
    </div>
</div>