<ul class="nav nav-tabs nav-justified nav-primary" role="tablist">
    <li role="presentation" ng-class="{active : vm.currentTab==1}">
        <a href="#" aria-controls="1" role="tab" data-toggle="tab" ng-click="vm.currentTab=1">
            Geral</a>
    </li>
    <li role="presentation">
        <a href="#" aria-controls="2" role="tab" data-toggle="tab" ng-click="vm.currentTab=2">
            Status</a>
    </li>
    <li role="presentation">
        <a href="#" aria-controls="3" role="tab" data-toggle="tab" ng-click="vm.currentTab=3">
            Avançado</a>
    </li>
</ul>