@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
  background-color: #fff;
}

body {
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.activetab-title {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
