<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Geral</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Remetente Notificação</label>
                <div class="col-sm-6">
                    <input type="text" name="emailNotifica" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Destinatário para Notificação de Erros</label>
                <div class="col-sm-6">
                    <input type="text" name="emailNotificaErros" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Tema Padrão do Portal Gerencial</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="temaGerencial" id="temaGerencialDark" value="/adf_gerencial/css/midnight-blue.css"> Midnight Blue
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="temaGerencial" id="temaGerencialSilver" value="/adf_gerencial/css/silver.css"> Silver
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="temaGerencial" id="temaGerencialCustom" value="/adf_custom/css/gerencial-custom.css"> Custom
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Listagem Padrão do Portal Gerencial</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="listaGerencial" id="listaGerencialList" value="list"> Lista
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="listaGerencial" id="listaGerencialBox" value="box"> Cards
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
