a {
   color: #5bc0de !important;
}

.atividade-titulo {
   cursor: pointer
}

.ui-datepicker-trigger {
   display: none;
}

.tdData {
   width: 10%;
}

.tdAProvacao {
   width: 20%;
}

.fluigicon-step-forward, .fluigicon-step-backward {
	color: #ffffff;
}