<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Pedido {{documento.pagtoNumero}}</h4>
                        <h4>{{documento.pagtoEmpresa}} - {{documento.pagtoEstab}}</h4>
                    </div>
                    <div class="col-sm-6">
                        <h4> A Pagar</h4>
                        <h4> {{documento.pagtoValor | currency:documento.pagtoMoeda}}</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">


                <div class="col-sm-6">
                    <label>Nº / Série / Parcela</label>
                    <p>{{documento.pagtoNumero}} / {{documento.pagtoSerie}} / {{documento.pagtoParcela}}</p>
                </div>
                <div class="col-sm-6">
                    <label>Fornecedor</label>
                    <p>{{documento.pagtoFornecedor || 'Não informado'}}</p>
                </div>
                <div class="col-sm-6">
                    <label>Data de Emissão</label>
                    <p>{{documento.pagtoDataEmissao | date}}</p>
                </div>
                <div class="col-sm-6">
                    <label>Data de Vencimento</label>
                    <p>{{documento.pagtoDataVencimento | date}}</p>
                </div>
                <div class="col-sm-12">
                    <label>Narrativa</label>
                    <p><i>{{documento.pagtoNarrativa}}</i></p>
                </div>
            </div>


        </div>
    </div>

</div>
